@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@font-face {
    font-family: AudioWide;
    src: url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
  }

#competence {
    flex-direction: column;
    height: 85vh;
    background-color: bisque;
    h2 {
        font-family: AudioWide;
        font-weight: 800;
        font-size: 4rem;
        text-align: center;
    }
}

#table {
    display: flex;
    justify-content: space-around;
    h3 {
        font-family: AudioWide!important;
        font-size: 1.5rem;
        font-weight: 800;
    }
}