@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@font-face {
    font-family: AudioWide;
    src: url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
  }

#competence {
    flex-direction: column;
    height: 85vh;
    background-image: url('../../assets/images/17973903.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    box-shadow: 0px 5px 20px 0px grey;
    h2 {
        text-align: center;
    }
}

#table {
    display: flex;
    justify-content: space-around;
    h3 {
        text-align: center;
        color: #ffc72c;
    }
    ul {
        list-style: none;
        font-size: 2rem;
        padding: 0;
        text-align: center;
    }
}