#presentation {
    width: 90vw;
    height: 100vh;
    margin: auto;
    display: flex;
}
#description {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin: 7vh auto;
    height: 200vh;
    position: relative;
    top: 15vh;
    z-index: -1;
}

#portrait {
    width: 60vw;
    height: 70vh;
    background-color: blue;
    // background-image: url('../assets/images/portrait.webp');
}
