#presentation {
    width: 90vw;
    height: 100vh;
    margin: auto;
    display: flex;
}
.open{
    height: 71vh;
    top: 22vh;
    opacity: 1!important;
    transition: opacity 3s;
    transition-delay: 400ms;
}

#description {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: 80vh;
    margin: auto;
    overflow: hidden;
    opacity: 0;
    p {
        width: 50vw;
        font-size: 2vw;
        padding: 8vw;
    }
}

#portrait {
    width: 24vw;
    height: 32vw;
    background: url('../../assets/images/profil.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 6vh;
    left: 1vw;
    border-radius: 145px;
    box-shadow: 5px 5px 20px 4px;
}


