#projet {
    width: 90vw;
    height: 85vh;
    margin: auto;
    flex-direction: column;
}
#container{
    display: flex;
    height: 58vh;
    width: 90vw;
    justify-content: space-between;
}

#preview_projet {
    width: 45vw;
    border: 2px solid black;
    height: 40vh;
    background: whitesmoke;
    background-color: lightblue;
    position: relative;
    top: 17vh;
}

#titre_projet {
    width: 45vw;
    height: 86vh;
    position: relative;
    top: -29vh;
    overflow: hidden;
}

#name_projet {
    li {
        list-style: none;
        opacity: 0.1;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
        a {
            text-decoration: none;
            font-size: 3rem;
        }
    }
    .selected {
        opacity: 1;
    }
}

.open_section{
    display: flex;
}
.close_section{
    display: none!important;
}