#projet {
    display: grid;
    // grid-template: 
    //     [h2-left] "h2 div" 30px [div-right]
    //     [div-left] "div div" 1fr [div-right]
    //      ;
    width: 90vw;
    height: 85vh;
    margin: auto;

    h2 {
        background-color: red;
    }
}

#preview_projet {
    width: 45vw;
    border: 2px solid black;
    height: 40vh;
    background: whitesmoke;
    z-index: -1;
    background-color: lightblue;
}

#titre_projet {
    width: 45vw;
    background-color: limegreen;
}

#name_projet {
    li {
        list-style: none;
        opacity: 0.1;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
        a {
            text-decoration: none;
            font-size: 3rem;
        }
    }
    .selected {
        opacity: 1;
    }
}

.open_section{
    display: flex;
}
.close_section{
    display: none!important;
}