#projets {
    width: 90vw;
    height: 85vh;
    margin: auto;
    flex-direction: column;
}

#formation{
    & button {
        width: 100%;
        height: 30vh;
        background: url('../../assets/images/Openclassrooms.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid grey;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(78, 2, 70);
        cursor: pointer;
    }
}

#container{
    display: none;
    height: 58vh;
    width: 90vw;
    justify-content: space-between;
}

#preview_projet {
    width: 45vw;
    #img_preview {
        width: 45vw;
        height: 40vh;
        box-shadow: 10px 10px 15px grey;
        border-radius: 20px;
    }
}

#titre_projet {
    width: 45vw;
    height: 86vh;
    position: relative;
    top: -29vh;
    overflow: hidden;
}

#name_projet {
    li {
        list-style: none;
        opacity: 0.1;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
        a {
            text-decoration: none;
            font-size: 3vw;
        }
    }
}

.open_section{
    display: flex;
}
.close_section{
    display: none!important;
}

#name_projet {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
}

.logo_pro{
    a:hover {
        transform: scaleX(1.5);
    }
    width: 7vw;
    filter: drop-shadow(10px 10px 10px lightgrey);
}

#container_preview{
    a{
        img {
            object-fit: contain;
            height: 10vh;
            margin: 1.5vw 0;
        }
    }
}

#Btn_projets {
    border: none;
    background: none;
    text-align: left;
    width: 15vw;
    cursor: pointer;
}