footer {
    display: flex;
    font-family: AudioWide;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
    position: relative;
    top: 20vh;
    margin: 50px 0;
    p{
        margin: 2vh;
    }
}