footer {
    display: flex;
    font-family: AudioWide;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
    position: relative;
    top: 8vh;
    margin-top: 50px;
    p{
        margin: 2vh;
    }
}