#contact{
    text-align: center;
    height: 86vh;
    p {font-size: 2vw;}
    h3 {font-size: 4vw;}
}

form {
    display: flex;
    flex-direction: row;
    #form1{
        margin: 4vh auto;
        width: 40vw;
        display: flex;
        flex-direction: column;
    }
    #form2{
        margin: 6vh auto;
        width: 40vw;
    }
    label{
        text-align: left;
        font-weight: 600;
        font-size: 2vw;
        margin: 1vw;
    }
    input {
        padding: 1vw;
        font-size: 1vw;
        background-color: rgba(10, 9, 9, 0.134);
        box-shadow: 2px 2px 2px grey;
        border: none;
        border-radius: 10px;
    }
    #message {
        width: 40vw;
        height: 17vw;
        margin: 1vw;
        border: none;
        border-radius: 10px;
        background-color: rgba(10, 9, 9, 0.134);
        box-shadow: 2px 2px 2px grey;
    }
    textarea {
        padding: 1vw;
        font-size: 1vw;
    }
    button {
        font-family: 'Audiowide';
        font-size: 2vw;
        height: 5vh;
        width: 20vw;
        border-radius: 10px;
        margin: 1vw;
        background: none;
        border: none;
        cursor: pointer;
        &:hover{
            color: #C69C2D;
            text-shadow: 0px 0px 20px ;
        }
    }
    
}

@media all and (max-width: 1024px) {
    form {
        #form1, #form2 {
            width: 80vw;
              #message {width: 80vw;}
        }
    }
}

