#home {
    background: radial-gradient(circle, rgba(3,30,54,1) 0%, rgba(0,0,0,1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 600ms;
}

.header {
    height: 15vh !important;
    transition: height 600ms;
    img {
        position: relative;
        top: 40px;
        right: 70px;
    }
}

#logo {
    display: flex;
    flex-direction: column;
    img {
        width: 30vw;
    }
}

#entry {
    width: 15vw;
    height: 5vh;
    margin: auto;
    font-size: 2rem;
    border: none;
    background: none;
    color: #C69C2D;
    cursor: pointer;
    text-shadow: #C69C2D 0px 0px 20px;
}

.section_open{
    opacity: 1!important;
    transition: opacity 2s;
}

.section_close{
    display:none!important;
    opacity: 0!important;
}