#login  {
    height: 82vh;
    & h2{
        text-align: center;
    }
    #form_signUp, #form_login{
        height: 75vh;
        flex-direction: column;
        width: 80vw;
        margin: auto;
        align-items: center;
        justify-content: flex-start;
    }
}

#nav_login{
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: -9vw;
        button {
            width: 6vw;
            height: 2vw;
            font-size: 1vw;
            box-shadow:  0px 0.4vw 0px #353535;
            &:active {
                top: 0.4vw;
                box-shadow:  0px 0px 0px #353535;
            }
        }
}


