#projet {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vh;
    #cover_img {
        width: 50vw;
        box-shadow: 10px 10px 15px grey;
    }
}

#info_projet {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    width: 39vw;
}

#projet_description {
    width: 100vw;
    margin-bottom: 5vh;
    p {
        font-size: 1.6vw;
    }
}
.logo {
    height: 25vh !important;
    filter: drop-shadow(10px 10px 10px grey);
}

#img_projet{
    display: flex;
    margin-top: 5vh;
}