#projet {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vh;
    #cover_img {
        width: 50vw;
        box-shadow: 10px 10px 15px grey;
    }
}

#info_projet {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    width: 39vw;
}

#projet_description {
    width: 100vw;
    margin-bottom: 5vh;
    h3 {
        font-size: 3vw;
    }
    p {
        font-size: 1.5vw;
    }
    li {
        font-size: 1.5vw;
    }
}
.logo {
    height: 10vw !important;
    filter: drop-shadow(0.2vw 0.2vw 0.2vw grey);
}

.logo_pro{
    a:hover {
        transform: scaleX(1.5);
    }
    width: 7vw;
    filter: drop-shadow(0.2vw 0.2vw 1vw lightgrey);
    margin: 2vw;
    cursor: pointer;
}

#img_projet{
    display: flex;
    margin-top: 5vh;
}

@media all and (max-width: 768px) {
    #img_projet{
        width: 100vw;
        flex-direction: column;
        gap: 7vw;
        #cover_img {
            width: 90vw;
        }
        #info_projet{
           width: 90vw;
        }
    }
    #projet_description {
        p {
            font-size: 5vw;
        }
        h3{
            font-size: 10vw;
        }
        li {font-size: 5vw;}
    }
    #projet {
        #cover_img {
            box-shadow: 1vw 1vw 1vw grey;
        }
    }
}