@import './function.scss';
@import '../src/pages/home.scss';

@font-face {
  font-family: AudioWide;
  src: url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  main{
    z-index: -1;
    position: relative;
    top: 20vh;
}

h2 {
    font-family: AudioWide;
    font-weight: 800;
    font-size: 4rem;
}

h3 {
    font-family: AudioWide!important;
    font-size: 1.5rem;
    font-weight: 800;
}