header {
    display: flex;
    width: 100vw;
    position: fixed;
    top: 0;
    box-shadow: 0px 5px 20px 0px grey;
    z-index: 3;
}


#nav_header {
    display: none;
    align-items: center;
    justify-content: right;
    font-size: 1.5vw;
    a {
        color: white;
        font-family: AudioWide;
        text-decoration: none;
        margin: 0 20px;
        text-shadow: 0px 0px 20px;
        &:hover {
            transform: scale(1.2);
            transition: transform 600ms;
        }
    }
}

.close_main {
    display: none;
}

.open_main {
    display: block
}

@media all and (max-width: 768px) {
    #nav_header {
        font-size: 2vw;
    }
}