header {
    width: 100vw;
    height: 15vh;
    position: fixed;
    top: 0;
    box-shadow: 0px 5px 20px 0px grey;
}


nav {
    display: none;
    position: relative;
    top: -10vh;
    justify-content: right;
    font-size: 2rem;
    width: 90vw;
    height: 12vh;
    margin: auto;
    align-items: center;
    a {
        position: relative;
        top: 2vh;
        color: white;
        font-family: AudioWide;
        text-decoration: none;
        margin: 20px;
        text-shadow: 0px 0px 20px;
        &:hover {
            transform: scale(1.2);
            transition: transform 600ms;
        }
    }
}